<div class="container hero mb-5">
  <p id="notice"><%= notice %></p>

  <h1 class="clearfix"><span class="pull-left">Blogs</span> <span><%= link_to 'New Blog', new_blog_path, class: "btn btn-success pull-right" %></span></h1>
  <hr>
  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center mt-3">
        <picture>
          <%= image_tag blog.avatar.url(:medium), class: 'img-fluid img-thumbnail' %>
        </picture>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 p-2 mt-3">
        <h4><%= link_to blog.title, blog, class: 'text-black text-hover-black' %></h4>
        <%= minimize_text(blog.content, 45) %>
        <div class='container pl-0 pr-0'>
          <%= link_to 'Show', blog, class: "btn btn-primary" %>
          <%= link_to 'Update', edit_blog_path(blog), class: "btn btn-warning" %>
          <%= link_to 'Delete', blog, class: "btn btn-danger pull-right", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      ​
    <% end %>
  </div>

</div>